body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 55px auto;
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.post{
    border: 6px solid #A7C7E7;
    background: rgba(224, 228, 181, 0.815);
}
 
nav ul{
    position: fixed;
    background-color: #4A90E2;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-size: larger;
    flex-direction: row;
    top: 0;
    left: 0;
    min-width:100%;
}
 
nav a:hover {
    background-color: #A7C7E7;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
}
 
a{
    text-decoration: none;
    color: inherit;
    justify-content: flex-start;
}

nav li {
    list-style: none;
}
 
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 10px;
    margin: 15px;
    padding:10px;      
}

.input-container input {
    flex: 1;
    margin-right: 15px;
    padding: 10px;
    border: 0px solid #ccc;
}
 
.input-container button{
    background: #4A90E2;
    color: white;
}
 
button:hover {
    background: #A7C7E7;
}
 
.container{
    position: absolute;
    align-items: center;
}
 
 
.button{
   position: absolute;
    bottom: 100px;  
}
 

.task {
    padding: 10px;
    background: #FFFFFF;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #A7C7E7;
    display: flex;
    align-items: center;
    width: 250px;
}

.task input {
    opacity: 1;
}

#all_complete{
    margin-top: 20px;
}

body {
    background-color: #F5F9FF;
}
