body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0px auto;
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.post{
    width: 600px;
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 100px;
    margin-top: 120px;
    border: 8px  solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
}
 
nav ul{
    position: fixed;
    background-color: #c2d2e4;
    padding: 7px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-size: larger;
    flex-direction: row;
    top: 0;
    left: 0;
    min-width:100%;
}
 
nav a:hover {
    color: white;
    background-color: rgb(197, 197, 237);
    transform: scale(1.05);
}
 
a{
    text-decoration: none;
    color: inherit;
    justify-content: flex-start;
}

nav li {
    list-style: none;
}
 
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 10px;
    margin: 15px;
    padding:10px;      
}

.input-container input {
    flex: 1;
    margin-right: 15px;
    padding: 10px;
    border: 0px solid #ccc;
}
 
.input-container button{
    padding: 10px 23px;
    background: #dde1af;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 16px;
}      
 
button:hover {
    background: #7e93a5;
}
 
.container{
    position: absolute;
    align-items: center;
}
 
 
.button{
   position: absolute;
    bottom: 5px;  
}
 
.container-speak{
    margin-top: 50px;
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.speak {
    padding: 25%;
}

.task {
    padding: 10px;
    background: rgb(255, 255, 255);
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 250px;  
}

.task input {
    opacity: 1;
}

#all_complete{
    margin-top: 10px;
}


