body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F5F9FF;
}
 
.post{
    width: 300px;
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 100px;
    margin-top: 70px;
    border: 6px solid #A8D5BA;
    background: white;
    color: rgb(117, 67, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.task {
    padding: 10px;
    background: #F7E7A0; 
    border: 2px solid #A8D5BA; 
    margin: 5px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif; 
}
.task span {
    text-decoration: line-through;
}

nav ul{
    position: fixed;
    background-color: #4A90E2;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-size: larger;
    flex-direction: row;
    top: 0;
    left: 0;
    min-width:100%;

    z-index: 1000;
}
 
nav a:hover {
    background-color: #A7C7E7;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
}
 
a{
    text-decoration: none;
    color: inherit;
    justify-content: flex-start;
}

nav li {
    list-style: none;
}
